* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* start navbar */
nav .header {
  padding: 45px 100px 45px 100px;
}

nav .deets-icon {
  width: 57px;
  height: 66px;
}

nav .links {
  margin-inline-end: auto;
}

.navbar .nav-link {
  transition: 0.3s;
}

.navbar .nav-link:hover {
  color: rgba(212, 212, 212, 0.80);
}

nav .nav-btns a:first-child {
  font-size: 15px;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  transition: 0.3s;
}

nav .nav-btns a:first-child:hover {
  color: rgba(212, 212, 212, 0.80) !important;
}

nav .nav-btns a:last-child {
  font-size: 14px;
  padding: 11px 35px 11px 35px;
}

nav .nav-btns a:last-child:hover {
  background-color: rgb(237, 237, 237) !important;
}

.navbar button .bars {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
}

.navbar button .bars span {
  content: "";
  margin-bottom: 10px;
  background-color: #f3f3f3;
  height: 2px;
  width: 100%;
}

@media(max-width: 991px) {
  nav .header {
    padding: 45px;
  }

  nav .links .nav-link {
    position: relative;
    text-align: center;
    width: 95%;
  }

  nav .links .nav-link::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 0%;
    background-color: rgba(255, 255, 255, 0.50);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.4s;
  }

  nav .links .nav-link::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    left: 0;
    bottom: 0;
    transition: 0.4s;
  }

  nav .links .nav-link:hover:before {
    width: 100%;
  }

  nav .nav-btns {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
}

@media(max-width: 771px) {
  .nav-btns {
    display: flex;
    flex-direction: column;
  }
}

@media(max-width: 700px) {
  .nav-btns {
    flex-direction: row;
  }

  .nav-btns a:first-of-type {
    padding-left: 0;
  }
}

@media(max-width: 553px) {
  nav .header {
    padding: 5px 15px 15px 15px;
  }

  nav .header .navbar-brand {
    margin: 0 5px;
  }

  nav div .links {
    text-align: center;
  }

  /* from interface */
  .interface {
    height: 560px !important;
  }

  .interface .text {
    padding-top: 50px !important;
  }
}

/* end navbar */
/* start interface */
.interface {
  height: 580px;
  position: relative;
}

.interface .text {
  color: #f5f5f7;
  padding-top: 80px;
  font-size: 56px;
  line-height: 60px;
  margin: 0 15px 0 15px;
}

.interface .image img {
  width: 1073px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1075px) {
  .interface .image img {
    width: 100%;
  }
}

@media(max-width:522px) {
  .interface .text p:nth-child(2) {
    font-size: 40px;
  }
}

@media(max-width:940px) {
  .interface .text {
    padding-top: 50px !important;
  }
}

/* end interface */
/* start deets-card */
.deets-card {
  height: 700px;
}

.deets-card .text {
  padding: 0 0px 0 160px;
}

.deets-card .text p:nth-child(1) {
  font-size: 80px;
}

.deets-card .text p:nth-child(2) {
  font-size: 34px;
}

@media(max-width: 1700px) {
  .deets-card .image img {
    width: 100%;
  }
}

@media(max-width: 1474px) {
  .deets-card .text {
    padding: 0 0px 0 100px;
  }

  .deets-card .text p:nth-child(1) {
    font-size: 60px;
  }

  .deets-card .text p:nth-child(2) {
    font-size: 30px;
  }
}

@media(max-width: 980px) {
  .deets-card {
    height: 500px;
  }

  .deets-card .text {
    padding: 0 0 0 60px;
  }

  .deets-card .text p:nth-child(1) {
    font-size: 40px;
  }

  .deets-card .text p:nth-child(2) {
    font-size: 20px;
  }
}

@media(max-width: 767px) {
  .deets-card {
    height: 660px;
  }

  .deets-card .row {
    align-content: start;
  }

  .deets-card .text {
    text-align: center;
    padding: 40px 0 0 0;
  }

  .deets-card .image {
    position: relative;
  }

  .deets-card .image img {
    width: 375px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* end deets-card */
/* start why-deets */
.why-deets {
  background-color: #9B775F;
  color: white;
  text-align: center;
}

.why-deets div p:first-child {
  font-size: 70px;
}

.why-deets .image-1 img {
  width: 62px;
}

/* end why-deets */
/* start products */
.products>div>p:first-child {
  font-size: 64px;
  font-weight: 500;
  text-align: center;
  margin: 65px 0;
}

.products .row {
  margin: 0 16px;
}

.products .smart {
  background-color: #040404;
  color: white;
  box-shadow: -40px 158px 221px -110px #ffffff1f inset;
  border-right: 8px solid;
  border-bottom: 8px solid;
  align-items: center;
  font-size: 40px;
}

.products .smart .image img {
  width: 650px;
}

.products .smart p {
  right: -50px;
  bottom: 50%;
}

.products .card-1 {
  background-color: #FBFBFD;
  font-size: 40px;
  border-left: 8px solid white;
  border-bottom: 8px solid white;
  padding: 0;
}

.products .dome {
  background: #FBFBFD;
  font-size: 40px;
  border-right: 8px solid white;
  border-top: 8px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.products .sticker {
  background-color: black;
  color: white;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 8px solid white;
  border-top: 8px solid white;
}

@media(max-width: 1630px) {
  .products .smart p {
    right: 0px;
  }
}

@media(max-width: 1394px) {
  .products .smart .image img {
    width: 100%;
  }

  .products .smart p {
    right: -50px;
  }
}

@media(max-width: 1186px) {
  .products .smart p {
    font-size: 30px;
    right: -10px;
  }
}

@media(max-width: 991px) {
  .products .smart p {
    font-size: 40px;
    right: -100px;
  }

  .products .smart,
  .products .card-1,
  .products .dome,
  .products .sticker {
    border-left: 8px solid white;
    border-right: 8px solid white;
  }
}

@media(max-width: 688px) {
  .products .smart p {
    right: 0px;
    bottom: 60%;
  }
}

@media(max-width: 524px) {

  .products p,
  .products .smart p {
    font-size: 29px;
  }

  .products .row {
    margin: 0px;
  }

  .products>div>p:first-child {
    font-size: 50px;
  }
}

/* end products */
/* start get */
.get {
  background-image: url(image/Artboard\ 20.png);
  background-size: cover;
  height: 700px;
  position: relative;
}

.get::before {
  content: "";
  position: absolute;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.50) 30%, rgba(0, 0, 0, 0.05) 100%);
  height: 100%;
  width: 100%;
}

.get .text {
  margin-bottom: 100px;
}

.get p:nth-child(1) {
  font-size: 24px;
  font-weight: 500;
}

.get p:nth-child(2) {
  font-size: 48px;
  font-weight: 500;
}

.get a:hover {
  background-color: rgb(237, 237, 237) !important;
}

@media(max-width: 767px) {
  .get {
    margin: 34px !important;
  }
}

@media(max-width: 524px) {
  .get {
    margin: 20px !important;
    text-align: center;
  }
}

/* end get */
/* start footer */
.footer>div>p:first-of-type {
  font-size: 62px;
  font-weight: 600;
  text-align: center;
  margin-top: 200px;
}

.footer .logos {
  margin-bottom: 100px;
}

.footer .links {
  padding-top: 100px;
  margin-bottom: 100px;
}

.footer .media-links svg:hover {
  color: rgb(53, 53, 53) !important;
}

.links ul {
  list-style: none;
  line-height: 30px;
}

.links ul a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  color: #222222;
}

.footer .links ul a:hover {
  color: rgb(73, 73, 73);
}

.footer .line {
  content: "";
  background-color: #F3E9DB;
  height: 2px;
  width: 100%;
  line-height: 60px;
  font-size: 13px;
  font-weight: 500;
}

@media(max-width: 767px) {
  .footer .logos {
    justify-content: center !important;
  }
}

@media(max-width: 575px) {
  .footer .logos {
    text-align: center;
  }

  .footer .logos img {
    max-width: 50%;
  }

  .footer>div>p:first-of-type {
    font-size: 43px;
    margin-top: 100px;
  }

  .footer .links {
    padding: 0;
  }
}

/* end footer */